* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.centered {
    margin: 0;
    width: 1000px;
}
.titolo {
    background-color: rgb(43, 43, 141);
    color: rgb(145, 183, 196);
    text-align: center;
}