* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    outline: 1px dashed black;
}
/* margin 0 auto per centrarlo auto si intende automatico il margine destra e sinistra */
.centered {
    margin: 0 auto;
    width: 1000px;
}
/* width tolto perche dato da centered */
.container {
    min-height: 1000px;
    background-color: beige;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
} 
.box {
    width: calc((100% / 3) - 20px);
    align-content: center;
    text-align: center;
}

/* ogni primo figlio di div dentro classe box avra le modifiche in questo caso rosso, */
.box > div:first-child {
background-color: red;
}






