* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.centered {
    margin: 0;
    width: 1000px;
}
.container {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.box {
    text-align: center;
    background-color: blanchedalmond;
    width: calc((100% / 3) - 60px)  
}